@media (max-width: 600px) {
    .row {
        flex-direction: column;
        gap: 10px;
    }

    .column {
        flex: 1 1 100%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .row {
        flex-direction: row;
        gap: 12px;
    }

    .column {
        flex: 1 1 45%;
    }

    .lease-period-div {
        order: 2;
    }

    .down-payment-div {
        order: 3;
    }
}

@media (min-width: 1025px) {
    .row {
        flex-direction: row;
        gap: 15px;
    }

    .column {
        flex: 1 1 30%;
    }

    .bottom-row{
        padding-bottom: 2em !important;
    }

    .bottom-row .column p {
        margin-bottom: 10px;
    }
}


@media (max-width: 1622px) {
    .lease-period-div {
        order: 2;
    }

    .down-payment-div {
        order: 3;
    }

    .container {
        height: 100%;
    }

    .bottom-row{
        gap: 20px !important;
        text-align: start !important;
        line-height: 0;
    }

    .bottom-row .column p {
        margin-bottom: 10px;
    }

    .bottom-row-left-column::after{
        display: none;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 40%;
    padding: 16px;
    min-width: 400px;
    max-width: 800px;
}

/*row and column code -> https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01*/

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
}

.column > h1 {
    text-align: center;
}

.column > input[type=range] {
    margin-top: 2em;
}

.column > label, .column > p {
    font-size: 21px;
    font-family: Arial, serif;
}

.column > p {
    height: 0;
}

.bottom-row{
    padding-bottom: 1em;
    text-align: center
}

/*relative vs absolute vs fixed -> https://www.youtube.com/watch?v=1y93d1lX4Xs*/

.bottom-row-left-column{
    position: relative;
}

/*after element custom right side border size -> https://stackoverflow.com/a/21338562*/
.bottom-row-left-column::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 35%;
    left: 100%;
    border-right: 2.5px solid rgba(128,128,128, 0.7);
    border-radius: 10px;
}